.box {
  text-align: left;
  width: 50%;
  min-height: 150px;
  margin: 50px auto;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}

h1{
  margin-bottom: 10px;
}

.content{
  margin-top: 10px;
}