* {
    padding: 0;
    margin: 0;
}

.box-header{
    text-align: center;
    background-color: rgb(210, 210, 210);
    padding: 5px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid black;
    min-height: 200px;
    width: 1000px;
    /* width: 70%; */
} 

@media only screen and (max-width: 480px){
    .box-header{
        width: 70%;
    }
}

.container{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}

.container .box{
    border: 2px solid black;
    min-height: 100px;
    width: 100%;
    font-size: 50px;;
}